<br />
<div class="col-10 offset-1">
  <h1 class="text-center"><%= @aisle.aname %></h1>
  <h2 class="text-center"><%= @aisle.adescr %></h2>
  <br />
  <div class="text-center">
    <%= link_to 'Add a new product', new_admin_aisle_product_path(@aisle), class: 'btn btn-primary btn-lg' %>
  </div>
  <%= link_to 'Preview As Shopper...', aisle_path(@aisle), class: 'btn btn-warning float-right' %>
  <br class="clr" />

  <ul>
    <% @aisle.products.each do |product| %>
      <li>
        Name: <%= product.pname %> - <%= product.pdescr %>
        <%= link_to 'New Product Image', new_admin_product_prod_pic_path(product), class: 'float-right btn btn-primary btn-sm' %>

        <ul>
          <% product.prod_pics.each do |prod_pic| %>
            <li>
              <b><%= image_tag prod_pic.image.to_s, class: 'img-fluid' %></b>
              <b><%= prod_pic.ptext %></b>
            </li>

          <% end %>
        </ul>

        <br class="clr" />
      </li>
    <% end %>
  </ul>


</div>